<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the URL-Shortener</title>
</head>
<body>
    <h1>Please find your shortened links below</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Short Links</th>
                <th>View Count</th>
                <th>Full Link</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td><a href="{{ url_for('_redirect', hash_id=link.hash_id) }}">{{ link.hash_id }}</a></td>
                <td></td>
                <td><a href="{{ url_for('_redirect', hash_id=link.hash_id)}} ">{{ link.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
